In [22]:
import bls
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
wages = bls.get_series('CIU2020000000000A')
wages.tail(10)

No Data Available for Series CIU2020000000000A Year: 2023
D:\data_analytics\lib\site-packages\bls\api.py:106: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.assign(date=pd.to_datetime(

date
2020Q3    2.7
2020Q4    2.8
2021Q1    3.0
2021Q2    3.5
2021Q3    4.6
2021Q4    5.0
2022Q1    5.0
2022Q2    5.7
2022Q3    5.2
2022Q4    5.1
Freq: Q-DEC, Name: CIU2020000000000A, dtype: float64

In [25]:
CPI = bls.get_series('CUUR0000SA0')
CPI.to_csv('cpi_data.csv')
CPI_data = pd.read_csv('cpi_data.csv')
CPI_data.columns = 'Date', 'CPI'
# CPI_data.tail(10)

        Date      CPI
101  2022-06  296.311
102  2022-07  296.276
103  2022-08  296.171
104  2022-09  296.808
105  2022-10  298.012
106  2022-11  297.711
107  2022-12  296.797
108  2023-01  299.170
109  2023-02  300.840
110  2023-03  301.836

In [28]:
CPI_data['Date'] = CPI_data['Date'].str.replace('-03', 'Q1')
CPI_data['Date'] = CPI_data['Date'].str.replace('-06', 'Q2')
CPI_data['Date'] = CPI_data['Date'].str.replace('-09', 'Q3')
CPI_data['Date'] = CPI_data['Date'].str.replace('-012', 'Q4')