In [79]:
from bls import get_series
import pandas as pd

In [167]:
housing = get_series('SUUR0000SAH')
housing.to_csv('housing_index.csv')

In [168]:
sp_data = pd.read_csv('HistoricalPrices.csv')
sp_data.columns = sp_data.columns.str.strip()

In [177]:
sp_data['Date'] = sp_data['Date'].astype('datetime64[ns]')
sp_data['Date'] = sp_data['Date'].dt.strftime('%Y-%m-%d')
sp_data.tail

<bound method NDFrame.tail of           Date     Open     High      Low    Close
0   2023-04-13  4100.04  4150.26  4099.40  4146.22
1   2023-04-12  4121.72  4134.37  4086.94  4091.95
2   2023-04-11  4110.29  4124.26  4102.61  4108.94
3   2023-04-10  4085.20  4109.50  4072.55  4109.11
4   2023-04-06  4081.58  4107.32  4069.84  4105.02
..         ...      ...      ...      ...      ...
56  2023-01-23  3978.14  4039.31  3971.64  4019.81
57  2023-01-20  3909.04  3972.96  3897.86  3972.61
58  2023-01-19  3911.84  3922.94  3885.54  3898.85
59  2023-01-18  4002.25  4014.16  3926.59  3928.86
60  2023-01-17  3999.28  4015.39  3984.57  3990.97

[61 rows x 5 columns]>

In [176]:
for date in sp_data['Date']:
    if '-04-30' in date:
        print(date)

In [164]:
sp_data = sp_data[(sp_data.Date.str.contains('Q') == True)]
sp_data

     Date     Open     High     Low    Close
9  2023Q1  4046.74  4057.85  4032.1  4050.83

In [161]:
sp_data_1 = sp_data[['Date', 'Close']]

In [162]:
sp_data_1

          Date    Close
0   2023-04-13  4146.22
1   2023-04-12  4091.95
2   2023-04-11  4108.94
3   2023-04-10  4109.11
4   2023-04-06  4105.02
..         ...      ...
56  2023-01-23  4019.81
57  2023-01-20  3972.61
58  2023-01-19  3898.85
59  2023-01-18  3928.86
60  2023-01-17  3990.97

[61 rows x 2 columns]